header {
  padding: 20px;
  display: inline-block;
}

nav {
  display: inline-block;
  vertical-align: middle;
}

li {
  display: inline-block;
  vertical-align: middle;
}

.logo {
  margin-right: 90px;
  vertical-align: middle;
}

.me {
  width: 30px;
  border-radius: 50px;
  display: inline-block;
  margin-left: 40px;
}

a {
  color: #707070;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.card {
  width: 30%;
  display: inline-block;
  border-radius: 12px;
}
.card-head {
  width: 100%;
  position: relative;
}

.card-head > h4 {
  position: absolute;
  top: 15px;
  left: 15px;
  color: white;
}

.card-head > img {
  width: 100%;
}

.card-body {
  padding: 20px;
  background-color: white;
}

.time {
  margin-top: 40px;
  margin-bottom: 30px;
}

h3 {
  margin-top: 50px;
}

h2 {
  font-size: 25px;
}
