header {
  padding: 20px;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px;
  width: 100%;
}

nav {
  display: inline-block;
  vertical-align: middle;
}

li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

.logo {
  margin-left: 50px;
  margin-right: 240px;
  vertical-align: middle;
}

.me {
  width: 30px;
  border-radius: 50px;
  display: inline-block;
  margin-left: 40px;
}

a {
  color: #707070;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.card {
  width: 30%;
  display: inline-block;
  border-radius: 12px;
  margin-right: 30px;
}
.card-head {
  width: 100%;
  position: relative;
}

.card-head > h4 {
  position: absolute;
  top: 15px;
  left: 15px;
  color: white;
}

.card-head > img {
  width: 100%;
}

.card-body {
  padding: 20px;
  background-color: rgba(204, 196, 196, 0.404);
  border-radius: 12px;
}

.time {
  margin-top: 40px;
  margin-bottom: 30px;
}

h3 {
  margin-top: 50px;
}

h2 {
  font-size: 25px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.main {
  display: inline-block;
}

.pic1 {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.pic1 > h4 {
  position: absolute;
  color: white;
  top: 50%;
  width: 100%;
  text-align: center;
}
